global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "nginx"
    static_configs:
      - targets: ["nginx-exporter:9113"]

  - job_name: "node-exporter-hardware"
    static_configs:
      - targets: ["node-exporter-hardware:9100"]

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093